@using AsignarBusinessLayer.AsignarDatabaseDTOs;
@model ICollection<FilterDTO>
@{
    ViewBag.Title = "Filters";
    UserDTO user = Cache[User.Identity.Name] as UserDTO;
}

<div class="container container-form">
    <div class="row">
        <div style="margin-right: 20px; margin-top: 15px;">
            <h2 class="pull-left" style="margin: 20px 0px 40px 0px">Filters</h2>
            <i class="fa fa-plus fontbutton-style  fa-custom-button" id ="AddFilterButton"style="padding: 5px 6px 3px 6px; margin: 24px 5px 5px 10px;" onclick="ShowCreateNewFilterPopup()"  data-placement="bottom" data-toggle="popover" data-trigger="hover" data-content="Add filter"></i>
            @{ 
                FilterInfoDTO mFilter = new FilterInfoDTO();
            }
            <div style="display: inline-block;" id="AddFilterDiv">
                @Html.Partial("~/Views/Popup/CreateNewFilter.cshtml", mFilter)
            </div>
            

            <div class="search-bar-common pull-right" style="margin-top: 22px;">
                <form role="search" style="display: flex;">
                    <input type="text" class="form-control search-bar" style="border: 0px; box-shadow: 0 0 0" placeholder="Search">
                    <span>
                        <button type="submit" class="search-page-btn">
                            <span class="icon-search navSearchIcon search-span-icon"></span>
                        </button>
                    </span>
                </form>
            </div>
        </div>

        <div style="height: 34px;">
            @*<label class="short-info" style="margin-left: -50px; margin-top:10px;">Sort by:</label>
            <div class="dropdown" style="display: inline">
                <form style="display:inline">
                    <button class="dropdown-toggle bootrap-btndrop-modif" type="submit" data-toggle="dropdown"  style="background: transparent !important;">
                        Title
                        <span class="caret" style="border-top-color: #92c1ba"></span>
                    </button>
                    <ul class="dropdown-menu bootrap-dropdown-ul-modif" style="padding: 0px">
                        <li><a href="#">Title</a></li>
                        <li><a href="#">Status</a></li>
                        <li><a href="#">Priority</a></li>
                        <li><a href="#">Assignee</a></li>
                    </ul>
                </form>
            </div>*@
        </div>

        <div class="row" style="margin: 15px">
            @foreach (FilterDTO filter in Model)
            {
                string status_info = "";
                foreach (StatusDTO st in filter.FilterSignarute.Statuses)
                {
                    status_info += st.ToString()+ ", ";
                }
                if (status_info.Length > 0)
                {
                    status_info = status_info.Remove(status_info.Length - 2, 2);
                }

                string prior_info = "";
                foreach (PriorityDTO pr in filter.FilterSignarute.Priorities)
                {
                    prior_info += pr.ToString() + ", ";
                }
                if (prior_info.Length > 0)
                {
                    prior_info = prior_info.Remove(prior_info.Length - 2, 2);
                }

                string user_info = "";
                foreach (UserDTO usr in filter.FilterSignarute.Assignees)
                {
                    user_info += usr.Name + " " + usr.Surname + ", ";
                }
                if (user_info.Length > 0)
                {
                    user_info = user_info.Remove(user_info.Length - 2, 2);
                }

                string project_info = "";
                foreach (ProjectDTO prj in filter.FilterSignarute.Projects)
                {
                    project_info += prj.Name + ", ";
                }
                if (project_info.Length > 0)
                {
                    project_info = project_info.Remove(project_info.Length - 2,2);
                }

                <div class="col-md-4 col-sm-6 col-xs-12" style="overflow:no-display">
                    <div class="table-elem shadow-div" style="position:relative;" onCLick="FilterClick(@filter.FilterID)">
                        <i class="fa fa-times-circle delete-form-icon pull-right" onClick="hideFilter(this, @filter.FilterID)" id="close-icon"></i>
                        <h4 class="h4-zero-topmargin no-text-overflow" style="margin-bottom: 0px; margin-top:0px;"> @filter.Title</h4>
                        <div class="filters-inr-divblc">
                            <div class="filter-info-col" style="padding-left: 1px">
                                <label class="no-text-overflow-sm">Search:</label><br />
                                <label class="no-text-overflow-sm">Status:</label><br />
                                <label class="no-text-overflow-sm">Priority:</label><br />
                            </div>
                            <div class="filter-info-col col-helper color-black" style="max-width: 20%;">
                                <label class="no-text-overflow-sm" style="max-width: 300px;">@filter.FilterSignarute.SearchString</label><br />
                                <label class="no-text-overflow-sm">@status_info</label><br />
                                <label class="no-text-overflow-sm">@prior_info</label><br />
                            </div>
                            <div class="filter-info-col" style="margin-left: -15px; padding-left: 10px; margin-top: 13px">
                                <label class="no-text-overflow-sm">Project:</label><br />
                                <label class="no-text-overflow-sm">Assignee:</label><br />
                            </div>
                            <div class="filter-info-col col-helper color-black" style="padding-left: 10px; margin-top: 13px;width: 45%; margin-right:0px;">
                                <label class="no-text-overflow-sm" style="max-width: 250px;">@project_info</label><br />
                                <label class="no-text-overflow-sm" style="max-width: 250px;">@user_info</label><br />
                            </div>
                        </div>
                    </div>
                </div>
            }
            @*@for (int i = 0; i < 9; ++i)
            {
                <div class="col-md-4 col-sm-6 col-xs-12" style="overflow:no-display">
                    <div class="table-elem shadow-div" style="position:relative;">
                        <i class="fa fa-times-circle delete-form-icon pull-right"></i>
                        <h4 class="h4-zero-topmargin no-text-overflow" style="margin-bottom: 0px"> The Financier</h4>
                        <div class="filters-inr-divblc">
                            <div class="filter-info-col" style="padding-left: 1px">
                                    <label class="no-text-overflow-sm">Search:</label><br />
                                    <label class="no-text-overflow-sm">Status:</label><br />
                                    <label class="no-text-overflow-sm">Priority:</label><br />
                            </div>
                            <div class="filter-info-col col-helper color-black" style="max-width: 20%;">
                                    <label class="no-text-overflow-sm" style="max-width: 300px;">Search_Value</label><br />
                                    <label class="no-text-overflow-sm">Status_Value</label><br />
                                    <label class="no-text-overflow-sm">Priority_Value</label><br />
                            </div>
                            <div class="filter-info-col" style="margin-left: -15px; padding-left: 10px; margin-top: 13px">
                                    <label class="no-text-overflow-sm">Project:</label><br />
                                    <label class="no-text-overflow-sm">Assignee:</label><br />
                            </div>
                            <div class="filter-info-col col-helper color-black" style="padding-left: 10px; margin-top: 13px;width: 45%; margin-right:0px;">
                                    <label class="no-text-overflow-sm" style="max-width: 250px;">Project_Value</label><br />
                                    <label class="no-text-overflow-sm" style="max-width: 250px;">Assignee_Value</label><br />
                            </div>
                        </div>
                    </div>
                </div>
            }*@
        </div>
        <div class="row">
            <p class="pull-left p i, label zero-merg p label">
                <i class="fa fa-filter  info-icon"></i> <label style="margin-right: 2px">Filters:</label> <label id="filters-count">@Model.Count</label>
            </p>
        </div>

    </div>
</div>

<style>
    #filters-menu-div {
        background-color: #92C1BA !important;
    }
</style>

<script>
    function ShowCreateNewFilterPopup() {
        $("#createFilterPopup").dialog({
            width: 600,
            fluid: true,
            title: "Create new filter",
            modal: true,
            resizable: false,
            dialogClass: "create-filter-popup",
            show: { effect: 'clip', duration: 350 },
            hide: { effect: 'clip', duration: 350 },
            buttons: [
        //{
        //    text: "Create",
        //    "class": 'popup-button',
        //    click: function () {
        //        $(this).dialog("close");
        //    }
        //},
            ],
            close: function () {
            }
        });
        $("*").trigger('blur');
    }
</script>

<script>
    $(document).ready(function(){
        $('#AddFilterButton').css('pointer-events', 'none');
        //$('#edit-task-btn').css('color', 'rgb(0, 0, 0, 0.3)');
            $.ajax({
                type: "GET",
                url: "/Home/GetAddFilterInfo",
                error: function (xhr, status, error) {
                },
                success: function (result) {
                    $('#AddFilterDiv').html(result);
                    $('#AddFilterButton').css('pointer-events', 'auto');
                }
            });
        });
</script>

<script>
    function CLickAjaxFilter(btnClicked) {
        var $form = $(btnClicked).parents('form');
        $(btnClicked).css('pointer-events', 'none');

        var priorities = $("#priorSelect").find("option:selected");
        var prioritiesArray = [];
        for (var i = 0; i < priorities.length; ++i) {
            prioritiesArray.push(priorities[i].value);
        }
        var statuses = $("#statusSelect").find("option:selected");
        var statusesArray = [];
        for (var i = 0; i < statuses.length; ++i) {
            statusesArray.push(statuses[i].value);
        }
        var users = $("#userSelect").find("option:selected");
        var usersArray = [];
        for (var i = 0; i < users.length; ++i) {
            usersArray.push(users[i].value);
        }
        var projects = $("#projectSelect").find("option:selected");
        var projectsArray = [];
        for (var i = 0; i < projects.length; ++i) {
            projectsArray.push(projects[i].value);
        }
        $.ajax({
            type: "POST",
            url: "/Home/CreateNewFilter",
            data: { Priorities: prioritiesArray, Statuses: statusesArray, Users: usersArray, Projects: projectsArray, Title: $('#CreateFilterTitle').val(), Search: $('#CreateFilterSearch').val() },
            error: function (xhr, status, error) {
                alert(error);
                $(btnClicked).css('pointer-events', 'auto');
            },
            success: function (result) {
                //$(".popup-button").closest("#createUserPopup2").dialog('close');
                $(btnClicked).css('pointer-events', 'auto');
                window.location.reload();
            }
        });

        return false;

    }
</script>

<script>
        function hideFilter(el, FilterID) {
            $.ajax({
                url: '/Home/DeleteFilter',
                data: { id: FilterID },
                method: 'POST'
            })
            .success(function () {
                $(el).parent().parent().hide();
                cnt = $("#filters-count").text() - 1;
                $("#filters-count").text(cnt);
            })
            .error(function (mess) {
                //$(el).parent().parent().show();
                alert(mess);
            })
        }
</script>

<script>
    function FilterClick(FilterID) {
        @{
            string url = "/Home/Search/";
        }
        closeHovered = $('.shadow-div').find("#close-icon:hover").length
        if (closeHovered == null || closeHovered == 0) location.href = '@url' + FilterID;
    }
</script>