@using AsignarBusinessLayer.AsignarDatabaseDTOs
@using Signar.Models

@{
    ViewBag.Title = "My Profile";
}

<div class="container double-container">
        <div class="col-md-4 double-container-mini" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-6 col-xs-12 zero-pad-left">
                    <div style="margin: 0px 0px 40px 0px">
                        <h2 style="margin: 20px 0px 40px 0px">My Profile</h2>
                    </div>
                    <div class="table-elem-static shadow-div project-div-static">
                        <img src="~/Content/img/ava1.jpg" class="profile-av" />
                        <div class="user-name">
                            @{
                                UserDTO user = Cache[User.Identity.Name] as UserDTO;
                                string UserName = user.Name;
                                string UserSurName = user.Surname;
                                string UserEmail = user.Email;
                                string UserRole = "Common user";
                                if (user.IsAdmin == true)
                                {
                                    UserRole = "Administrator";
                                }
                            }
                            <p class="zero-merg">@UserName</p>
                            <p class="zero-merg">@UserSurName</p>
                        </div>

                        <div class="profile-desc">
                            <label>Email</label>
                            <p>@UserEmail</p>
                        </div>

                        <div class="profile-desc">
                            <label>Role</label>
                            <p>@UserRole</p>
                        </div>

                    </div>

                    <div class="edit-profile pull-right" style="margin-right: 3px;">
                        <div id="EditDataPartial">
                            @Html.Partial("~/Views/Popup/EditUserData.cshtml")
                        </div>
                        <div id="ChangePasswordPartial">
                            @Html.Partial("~/Views/Popup/ChangePassword.cshtml")
                        </div>   
                        <a onClick="ShowResetPasswordPopup()"> <i class="fa fa-key fontbutton-style fa-custom-button pull-right"></i> </a>
                        <a onClick="ShowEditUserDataPopup()"> <i class="fa fa-pencil fontbutton-style fa-custom-button pull-right"></i> </a>
                    </div>

                </div>
                

                

                <div class="col-md-12 col-sm-6 col-xs-12">
                    <h2 style="margin-top: 20px; margin-bottom: 40px">
                        My Projects
                    </h2>

                    <div class="shadow-div">
                        <ul class="a-links" style="padding: 5px 0px 0px 5px">
                            <li><a href="url">The Financier</a><i class="fa fa-close project-delete-icon pull-right"></i></li>
                            <li><a href="url">The Titan</a><i class="fa fa-close project-delete-icon pull-right"></i></li>
                            <li><a href="url">The Stoic</a><i class="fa fa-close project-delete-icon pull-right"></i></li>
                            <li><a href="url">The I, robot</a><i class="fa fa-close project-delete-icon pull-right"></i></li>
                        </ul>
                    </div>
                </div>
        </div>


        <div class="col-md-8" style="margin-top: 15px;">
            <div class="col">
                <div style="margin: 0px 0px 40px 0px">
                    <h2 style="margin: 20px 0px 40px 0px">Assigned To Me</h2>
                </div>
                <div class="shadow-div">
                    <div style="display:inline-block; vertical-align: middle; width:100%;">
                        @for (int i = 0; i < 8; ++i)
                        {
                            <div class="bugs-div">
                                <img src="~/Content/Priority_img/major_prior.png" style="vertical-align:top;" />
                                <div class="bugs-descrip-block" style="width: 90%;">
                                    <label class="zero-merg inner-bugs-label">TDF-123</label> <label class="bug-status-display bug-status-in zero-merg">In progress</label>
                                    <p class="bugs-descrip zero-merg" style="width: 100%;overflow:auto;">The error message is displayed after tapping on the 'Get Link' button on the volume's 'information' screen</p>
                                </div>

                            </div>
                        }
                    </div>
                </div>


                    <div class="row">
                        <div class="pull-left short-info">
                            <i class="fa fa-edit" style="font-size: 150%;"></i> <label>All my tasks: 41</label>
                        </div>
                    </div>
                </div>
        </div>
</div>

<script>
    function ShowResetPasswordPopup() {
        $("#createUserPopup2").css({ 'display': "visible" });
        $("#createUserPopup2").dialog({
            width: 600,
            fluid: true,
            modal: true,
            resizable: false,
            dialogClass: "reset-password-popup",
            show: { effect: 'clip', duration: 250 },
            hide: { effect: 'clip', duration: 250 },
            buttons: [
        //{
        //    text: "Change",
        //    "class": 'popup-button',
        //    click: function () {
        //        $(this).dialog("close");
        //    }
        //},
            ],
            close: function () {
            }
        });
        $("*").trigger('blur');
    }

    function ShowEditUserDataPopup() {
        $("#createUserPopup").css({ 'display': "visible" });
        $("#createUserPopup").dialog({
            width: 600,
            fluid: true,
            title: "Edit user data",
            modal: true,
            resizable: false,
            show: { effect: 'clip', duration: 250 },
            hide: { effect: 'clip', duration: 250 },
            buttons: [
        //{
        //    text: "Save",
        //    "class": 'popup-button',
        //    click: function () {
        //        $(this).dialog("close");
        //    }
        //},
            ],
            close: function () {
            }
        });
    }
</script>

