@using AsignarBusinessLayer.AsignarDatabaseDTOs
@model ICollection<AsignarBusinessLayer.AsignarDatabaseDTOs.ProjectDTO>

@{
    ViewBag.Title = "Home Page";
    UserDTO user = Cache[User.Identity.Name] as UserDTO;
}

<div class="container container-form">
    <div class="row">
        <div style="margin-right: 20px; margin-top: 15px;">
            <h2 class="pull-left" style="margin: 20px 0px 40px 0px">Projects</h2>
            @if (user.IsAdmin)
            {
                <i class="fa fa-plus fontbutton-style  fa-custom-button" style="padding: 5px 6px 3px 6px; margin: 24px 5px 5px 10px;" onclick="ShowCreateNewProjectPopup()"></i>
            }
            else
            {
                <div style="display: inline-block;width: 28px;height: 48px;">

                </div>
            }

            @{ProjectDTO partModel = new ProjectDTO(); }
            @Html.Partial("~/Views/Popup/CreateNewProject.cshtml", partModel)

            <div class="search-bar pull-right" style="margin-top: 22px;" id="searchTextOnPage">
                <form role="search" style="display: flex;">
                    <input type="text" class="form-control search-bar" style="border: 0px; box-shadow: 0 0 0" placeholder="Search">
                    <span>
                        <button type="submit" class="search-page-btn">
                            <span class="icon-search navSearchIcon search-span-icon"></span>
                        </button>
                    </span>
                </form>
            </div>
        </div>

        <div>
            <label class="short-info" style="margin-left: -70px; margin-top: 10px;">Sort by:</label>
            
            <!--  <form action="doss" style="display: initial">
                <select name="sortParam" class="sort-sel-set select option">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="fiat">Fiat</option>
                    <option value="audi">Audi</option>
                </select>
            </form>  -->

            <div class="dropdown" style="display: inline">
                <form style="display:inline">
                    <button class="bootrap-btndrop-modif dropdown-toggle" type="submit" data-toggle="dropdown" style="background: transparent !important;">
                        Title
                        <span class="caret" style="border-top-color: #92c1ba"></span>
                    </button>
                    <ul class="dropdown-menu bootrap-dropdown-ul-modif" style="padding: 0px">
                        <li><a href="#">Title</a></li>
                        <li><a href="#">Status</a></li>
                        <li><a href="#">Priority</a></li>
                        <li><a href="#">Assignee</a></li>
                    </ul>
                </form>
            </div>
        </div>

        <div class="row" style="margin: 15px">
            @{
                int HiddenProjectCount = 0;
            }
            @foreach (var project in Model)
            {
                if (project.IsDeleted)
                {
                    HiddenProjectCount++;
                    continue;
                }
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="table-elem shadow-div" id="close-icon-div">
                        <i class="fa fa-times-circle delete-form-icon pull-right" id="close-icon" onclick="hideProject(this, @project.ProjectID)"></i>
                        <div style="display:inline-block; max-width:97%;">
                            <h4 class="h4-zero-topmargin no-text-overflow"> @project.Name</h4>
                        </div>
                        <p class="prefix-style" style="font-size: 13px;">@project.Prefix</p>
                        <div class="row">
                            <p class="info-block pull-right label zero-merg p label" style="margin-top: 12px !important;">
                                <i class="fa fa-edit info-icon" style="font-size: 18px!important;position: relative;top: 1px;"></i> <label>@project.UsersAmount</label>
                                <i class="fa fa-users info-icon"></i> <label>@project.BugsAmount</label>
                            </p>
                        </div>
                    </div>
                </div>
            }
            
            
        </div>
        @{
            int VisibleProjectsCount = Model.Count - HiddenProjectCount;
        }
        <div class="row">
            <p class="pull-left p i, label zero-merg p label">
                <i class="fa fa-th-list info-icon"></i> <label style="margin-right: 2px">Projects:</label> <label class="projects-count">@VisibleProjectsCount</label>
            </p>
        </div>

    </div>
</div>

<style>
    #projects-menu-div{
        background-color: #92C1BA !important;
    }
</style>

<script>
    function ShowCreateNewProjectPopup() {
                 $("#createUserPopup").dialog({
                     width: 600,
                     fluid: true,
                     title: "Create new project",
                     modal: true,
                     resizable: false,
                     show: { effect: 'clip', duration: 350 },
                     hide: { effect: 'clip', duration: 350 },
                     buttons: [
                 //{
                 //    text: "Create",
                 //    "class": 'popup-button',
                 //    click: function () {
                 //        $(this).dialog("close");
                 //    }
                 //},
                     ],
                     close: function () {
                     }
                 });
                 
             }
</script>

<script>
    function hideProject(el, ProjectID) {
        $.ajax({
            url: '/Home/DeleteProject',
            data: { ProjectID: ProjectID },
            method: 'POST'
        })
        .success(function () {
            @{
                HiddenProjectCount++;
                VisibleProjectsCount--;
            }
            $(el).parent().parent().hide();
             $(".projects-count").text(@VisibleProjectsCount);
        })
        .error(function (mess) {
            //$(el).parent().parent().show();
            alert(mess);
        })
    }


    //$(".delete-form-icon").click(
    //function hideProject() {
    //    var $parent = $(this).closest("#close-icon-div");
    //    var $parent2 = $($parent).closest(".col-md-4");
    //    $parent2.hide();
    //});
</script>