@using AsignarBusinessLayer.AsignarDatabaseDTOs
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Asignar</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/navbar-menu")
    @Styles.Render("~/Content/asignar-styles")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/Popup/jquery-ui")
    @Styles.Render("~/Content/popup")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/navbar-menu")

    @*<script src="@Url.Content("~/Scripts/navbar-menu.js")" type="text/javascript"></script>
        <link href="@Url.Content("~/Content/navbar-menu.css")" rel="stylesheet" type="text/css" />*@


</head>
<body style="background-color: #f8fefe">
    @{
        UserDTO user = Cache[User.Identity.Name] as UserDTO;
        string UserName = "", UserSurName = "";
        if (user != null)
        {
            UserName = user.Name;
            UserSurName = user.Surname;
        }
    }
    @Html.Partial("~/Views/Popup/CreateNewTask.cshtml")
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header leftM">
            @Html.ActionLink(" ", "Dashboard", "Home", null, htmlAttributes: new { @class = "navLogo" })

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-header pull-left">
                @{ 
                    int user_id = user.IsAdmin ? 0 : user.UserID;
                }
                <li>@Html.ActionLink("Projects", "Projects", "Home", new { id = @user_id }, htmlAttributes: new { @class = "navTextH navHL", id = "projects-menu-div" })</li>
                @if (user.IsAdmin)
                {
                            <li> @Html.ActionLink("Users", "Users", "Home", null, htmlAttributes: new { @class = "navTextH navHL", id = "users-menu-div" }) </li>
                }
                <li>@Html.ActionLink("Filters", "Filters", "Home", null, htmlAttributes: new { @class = "navTextH navHL", id = "filters-menu-div" })</li>
                <li><button class="navButton" onCLick="ShowCreateNewTaskPopup()"><nobr><t class="icon-plus"></t> &nbsp;Create task</nobr></button></li>
            </ul>
            <ul class="nav navbar-nav navbar-header pull-right">
                <li class="navbar-form navSearchMenu">
                    <div class="pull-left" style="display: none;" id="navbarSearch">
                        <input type="text" class="form-control" placeholder="Search" id="navbarSearchField">

                    </div>
                    <div class="icon-search navSearchIcon pull-right" onclick="showSearch()" />
                </li>
                @*<li class="navTextH">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "navTextH" })</li>*@
                @*<li class="navTextH">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "navTextH rightText" })</li>*@
                <li onclick="showProfileDropMenu()">
                    <a href="#" class="navProfile rightM">
                        @{
                            string ava_url = user.AvatarPath;
                        }
                        <img src=@ava_url id="avatar" />&nbsp;&nbsp;
                        <div class="no-text-overflow-logo" style="display: inline-block; max-width: 65px;">@UserName</div> <div class="no-text-overflow-logo" style="display: inline-block; max-width: 65px;">@UserSurName</div>
                    </a>

                    <div class="dropdownProfile">
                        <ul>
                            <li class="arrow-holder" data-value="Profile" onClick="location.href = '/Home/TheProfile/0'" style="padding: 12px 14px;"><span class="icon-arrow1"></span>Profile</li>
                            <li data-value="Sign_out" class="no-pad">
                                @Html.ActionLink("Sign out", "Signout", "Home", null, htmlAttributes: new { @class = "signout-link" })
                            </li>
                        </ul>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    function ShowCreateNewTaskPopup() {
        $("#createUserPopupTask").css({ 'display': "visible" });
        $("#createUserPopupTask").dialog({
            width: 600,
            fluid: true,
            modal: true,
            resizable: false,
            title: "Create new task",
            dialogClass: "create-new-task-popup",
            show: { effect: 'clip', duration: 250 },
            hide: { effect: 'clip', duration: 250 },
            buttons: [
        {
            text: "Create",
            "class": 'popup-button',
            click: function () {
                $(this).dialog("close");
            }
        },
            ],
            close: function () {
            }
        });
        $("*").trigger('blur');
    }


</script>