@using AsignarBusinessLayer.AsignarDatabaseDTOs
@model UserDTO
@{
    ViewBag.Title = "Log in";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/Login")
</head>


@using (Html.BeginForm("LoginMe", "Account", FormMethod.Post))
{
    @*@Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.Surname)
    @Html.HiddenFor(m => m.IsAdmin)
    @Html.HiddenFor(m => m.RememberMe)*@

    @Html.ValidationSummary(true, "", new { @class = "text-danger logo-margin" })
    <div class="Input">
        <div class="form-group">
            <div class="col-md-12">
                @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Login, new { @class = "form-control backColor", placeholder = "Login" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control backColor", placeholder = "Password" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe, htmlAttributes: new { @class = "custom-checkbox-1 pull-left" })
                    @Html.LabelFor(m => m.RememberMe, htmlAttributes: new { @class = "color2 checkbox-panel pull-left" })
                    @Html.ActionLink("Forgot password", "ForgotPassword", "Account", htmlAttributes: new { @class = "color2 checkbox-panel pull-right" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Login" class="btn btn-default" style="color: #4D868D" />
            </div>
        </div>

    </div>

}